<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Creative Suite">
  <test name="Diagram">
      <parameter name="environment"	value="http://www.htmlcanvasstudio.com/"/>
      <classes>
      <class name="com.canvasStudio.TestClass"/>
      </classes>
  </test> <!-- Test --> 
   </suite>